.about-me {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.about-me::before {
  content: "";
  position: absolute;
  inset: -10px 70px;
  background: linear-gradient(315deg, #0cf, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.about-me:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about-me::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    100deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 26, 52, 1) 100%
  );
  border-radius: 50%;
  z-index: 1;
}

.about-me .content {
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-me .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.about-me:hover .content img{
  opacity: 0;
}

.content h2{
  position: relative;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing:0.05em;
  text-transform: uppercase;
  margin: 20px 0;
}

.content button{
  color: #000;
  padding: 10px 15px;
  background: #fff;
  border-radius: 25px;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: 1s;
}

.content button:hover{
  letter-spacing: 0.2em;
}

@media (min-width: 768px){
    .about-me{
        width: 300px;
        height: 300px;
    }
    .about-me::before{
        inset: -10px 100px;
    }
}
@media (min-width: 1440px){
    .about-me{
        width: 350px;
        height: 350px;
    }
    .about-me::before{
        inset: -10px 140px;
    }
}
