@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    100deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 26, 52, 1) 100%
  );
  scroll-behavior: auto;
}
